<div class='title'>
  <h1>Welcome to Group Limerick!</h1>
  <h2>The most fun you can have during a pandemic</h2>
</div>
<br>

<a class="game-button" href="/new_game">Create a New Game</a>
<a class="game-button" href="/join">Join an Existing Game</a>