<html>
<link href="stylesheets/styles.css" rel="stylesheet"/>
<script src="/javascripts/jquery-3.4.1.js"></script>
<%# <script src="/javascripts/application.js"></script> %>
<title>Group Limerick App</title>
  <body>
    <div id='nav-div'>
      <nav>
        <a class="nav-item" href="/">Home</a> ~ <a class="nav-item" href="/new_game">New Game</a> ~ <a class="nav-item" href="/join">Join Game</a> ~ <a class="nav-item" href="/rules">Rules</a>
      </nav>
    </div>
    <% if session[:message] %>
      <p class="splash-message"><%== session.delete(:message) %></p>
    <% end %>
    <%== yield %>
    <hr>
    <div id="copyright">&#169; <a href="https://github.com/OwenKLenz" target="top">Owen Kevra-Lenz</a> 2020</div>
<%# Debugging Info: %>
    <% if false%>
      <div class="debugging">
        <h3>Debugging info:</h3>
        <p><strong>Player Name:</strong> <%== game_data.player_name %></p>
        <p><strong>Game Data:</strong></p>
        <div>
          <%== game_data.to_s %></p>
        </div>
      </div>
    <% end %>
  </body>
</html>

<script>
  $(document).ready(function(){
    // $(".nav-item").css({'color': 'red', 'font-size': '30px', 'font-weight': 'bold', 'font-family': 'cambria'});
  });
</script>