<html>
<link href="stylesheets/styles.css" rel="stylesheet"/>
<title>Group Limerick App</title>
  <body>
    <% if session[:message] %>
      <p class="splash-message"><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>

<%# Debugging Info: %>
    <% if session[:game_data]%>
      <div>
        <h3>Debugging info:</h3>
        <p><strong>Player Name:</strong> <%= session[:player_name] %></p>
        <p><strong>Game Data:</strong></p>
        <div>
          <%= game_data.to_s %></p>
        </div>
      </div>
    <% end %>
  </body>
</html>