<h2>Waiting for players to join</h2>
<h3><%= "#{game_data.players.size} of #{game_data.group_size} players have joined" %></h3>
<p>Current Players: <%= game_data.players.join(", ") %></p>

<a class="game-button" href="/play">Refresh</a>

<script>
  $(document).ready(function(){
    setInterval(function(){
      location.reload(true);
    }, 10000);
  });
</script>