.splash-message {
  background-color: rgba(0, 255, 255, 0.507);
  padding: 10px;
  width: auto;
}

.debugging {
  background-color: red;
}

.rules {
  text-align: left;
  margin: 10px 30px 10px 30px;
}

#rules-title {
  text-align: center;
  text-decoration: underline;
}

a {
  color:silver;
}

nav {
  color: silver;
  font-size: 25px;
  margin: 10px;
  font-weight: bold;
}

.nav-item {
  color: silver;
  padding: 5px;
  border-width: 5px;
  border-style: outset;
  border-color: blueviolet;
  background-color: rgba(97, 44, 151, 0.315);
}
html {
  background-color: whitesmoke;
  font-family: 'Times New Roman', Times, sans-serif;
}

body {
  position: relative;
  left: 25%;
  right: 25%;
  background-color: rgba(0, 0, 255, 0.733);
  color: silver;
  font-size: 1.5em;

  border: 8px;
  border-style: ridge;
  border-color: teal;
  float: left;
  width: 50%;
  min-width: 670px;
  
  margin: auto;
  text-align: center;
}

#nav-div {
  background-color: rgb(124, 28, 219);
  padding: 1mm;
  border-bottom-style: ridge;
  border-bottom-width: 2px;
  border-bottom-color: azure;
}

.text-input {
  /* height: 24px; */
  background-color: rgba(70, 149, 180, 0.342);
  font-size: 20px;
}

input {
  background-color: rgba(70, 149, 180, 0.342);
}

#copyright {
  font-size: 16px;
  padding-bottom: 10px;
}

.game-button {
  margin: 3px;
  padding: 4px;
  color:silver;
  background-color: rgba(255, 0, 0, 0.767);
  border: ridge;
  border-width: 4px;
  border-style: outset;
  border-color: red;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

#mute {
  position: absolute;
  right: 3px;
  top: 60px;
}